<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.smart.model.user.SysMenu">
        <id column="sys_id" property="id"/>
        <result column="label" property="label"/>
        <result column="parent_id" property="parentId"/>
        <result column="page_path" property="pagePath"/>
        <result column="route_path" property="routePath"/>
        <result column="icon_path" property="iconPath"/>
        <result column="perms" property="perms"/>
        <result column="link_type" property="linkType"/>
        <result column="is_hide" property="isHide"/>
        <result column="order_by" property="orderBy"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="last_time" property="lastTime"/>
        <result column="last_user_id" property="lastUserId"/>
        <result column="last_user_name" property="lastUserName"/>
    </resultMap>

    <resultMap id="listMap" type="com.smart.vo.SysMenuVO">
        <id column="sys_id" property="id"/>
        <result column="label" property="label"/>
        <result column="parent_id" property="parentId"/>
        <result column="page_path" property="pagePath"/>
        <result column="route_path" property="routePath"/>
        <result column="icon_path" property="iconPath"/>
        <result column="perms" property="perms"/>
        <result column="link_type" property="linkType"/>
        <result column="is_hide" property="isHide"/>
        <result column="order_by" property="orderBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        sys_id,
        label,
        parent_id,
        page_path,
        route_path,
        icon_path,
        link_type,
        is_hide,
        perms,
        order_by,
        note,
        create_time,
        create_user_id,
        create_user_name,
        last_time,
        last_user_id,
        last_user_name
    </sql>

    <insert id="save">
        insert into sys_menu (
            sys_id,
            label,
            parent_id,
            page_path,
            route_path,
            icon_path,
            link_type,
            is_hide,
            perms,
            order_by,
            note,
            create_time,
            create_user_id,
            create_user_name
        ) values (
             #{id},
             #{label},
             #{parentId},
             #{pagePath},
             #{routePath},
             #{iconPath},
             #{linkType},
             #{isHide},
             #{perms},
             #{orderBy},
             #{note},
             #{createTime},
             #{createUserId},
             #{createUserName}
         )
    </insert>

    <!-- 逻辑删除 -->
    <update id="deleteBySm">
        update sys_menu set is_delete=1, last_user_id=#{delUser}, last_user_name=#{delUserName}, last_time=#{delDate}
        where sys_id=#{modelId}
    </update>

    <update id="update">
        update sys_menu
        set label = #{label},
            page_path = #{pagePath},
            route_path = #{routePath},
            icon_path = #{iconPath},
            link_type = #{linkType},
            is_hide = #{isHide},
            perms = #{perms},
            order_by = #{orderBy},
            note = #{note},
            last_time = #{lastTime},
            last_user_id = #{lastUserId},
            last_user_name = #{lastUserName}
        where sys_id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where is_delete=0 and sys_id = #{id}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where is_delete = 0
        <if test="sql != '' and sql != null">
            ${sql}
        </if>
        order by create_time desc
        limit #{page},#{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_menu
        where is_delete = 0
        <if test="tmpSql != '' and tmpSql != null">
            ${tmpSql}
        </if>
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        FROM sys_menu WHERE is_delete=0
        <if test="sql != '' and sql != null">
            ${sql}
        </if>
    </select>

    <select id="nameUnique" resultType="java.lang.Integer">
        select count(*)
        from sys_menu
        where is_delete = 0
        and label = #{name}
        <if test="id != null and id != ''">
            and sys_id != #{id}
        </if>
    </select>

    <!-- 查询所有菜单 -->
    <select id="findAllList" resultMap="listMap">
        SELECT
            sys_id,
            label,
            parent_id,
            page_path,
            route_path,
            icon_path,
            link_type,
            is_hide,
            perms,
            order_by,
            create_time
        FROM
        sys_menu
        where is_delete = 0
        order by order_by
    </select>

    <!-- 查询所有菜单 -->
    <select id="getList" resultMap="listMap">
        SELECT
            sys_id,
            label,
            parent_id,
            page_path,
            route_path,
            icon_path,
            link_type,
            is_hide,
            perms
        FROM sys_menu
        where is_delete = 0
        order by order_by
    </select>
</mapper>
