<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ba.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.ba.model.system.SysMenu">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_code" property="menuCode"/>
        <result column="menu_type" property="menuType"/>
        <result column="icon" property="icon"/>
        <result column="is_frame" property="isFrame"/>
        <result column="route_path" property="routePath"/>
        <result column="page_path" property="pagePath"/>
        <result column="perms" property="perms"/>
        <result column="query" property="query"/>
        <result column="is_cache" property="isCache"/>
        <result column="visible" property="visible"/>
        <result column="status" property="status"/>
        <result column="order_by" property="orderBy"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        parent_id,
        menu_name,
        menu_code,
        menu_type,
        icon,
        is_frame,
        route_path,
        page_path,
        perms,
        query,
        is_cache,
        visible,
        status,
        order_by,
        note,
        create_time
    </sql>

    <insert id="insert">
        insert into sys_menu (
            id,
            parent_id,
            menu_name,
            menu_code,
            menu_type,
            icon,
            is_frame,
            route_path,
            page_path,
            perms,
            query,
            is_cache,
            visible,
            status,
            order_by,
            note,
            create_time,
            create_by
        ) values (
             #{id},
             #{parentId},
             #{menuName},
             #{menuCode},
             #{menuType},
             #{icon},
             #{isFrame},
             #{routePath},
             #{pagePath},
             #{perms},
             #{query},
             #{isCache},
             #{visible},
             #{status},
             #{orderBy},
             #{note},
             #{createTime},
             #{createBy}
         )
    </insert>

    <!-- 逻辑删除 -->
    <update id="deleteBySm">
        update sys_menu set is_delete=1, update_by=#{delUser}, update_time=#{delDate}
        where id=#{modelId}
    </update>

    <update id="update">
        update sys_menu
        set parent_id = #{parentId},
            menu_name = #{menuName},
            menu_code = #{menuCode},
            menu_type = #{menuType},
            icon = #{icon},
            is_frame = #{isFrame},
            route_path = #{routePath},
            page_path = #{pagePath},
            perms = #{perms},
            query = #{query},
            is_cache = #{isCache},
            visible = #{visible},
            status = #{status},
            order_by = #{orderBy},
            note = #{note},
            create_time = #{createTime},
            create_by = #{createBy},
            update_time = #{updateTime},
            update_by = #{updateBy}
        where id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where is_delete=0 and id = #{id}
    </select>

    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where is_delete = 0
        <if test="sql != '' and sql != null">
            ${sql}
        </if>
        order by create_time desc
        limit #{pageNum},#{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_menu
        where is_delete = 0
        <if test="tmpSql != '' and tmpSql != null">
            ${tmpSql}
        </if>
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        FROM sys_menu WHERE is_delete=0
        <if test="sql != '' and sql != null">
            ${sql}
        </if>
    </select>

</mapper>
