<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ba.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.ba.model.system.SysRoleMenu">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="menuId" column="menu_id"/>
        <result property="menuCode" column="menu_code"/>
        <result property="permission" column="permission"/>
        <result property="note" column="note"/>
        <result property="orderBy" column="order_by"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,    role_id,    menu_id,    menu_code,    permission,note,       order_by,    create_time,    create_by,    update_time,    update_by
    </sql>

    <insert id="insert" parameterType="com.ba.model.system.SysRoleMenu">
        insert into sys_role_menu (id, role_id, menu_id, menu_code, permission, note, order_by, create_time, create_by,
                                   update_time, update_by)
        values (#{id}, #{roleId}, #{menuId}, #{menuCode}, #{permission}, #{note}, #{orderBy}, #{createTime},
                #{createBy}, #{updateTime}, #{updateBy})
    </insert>
    <insert id="saveList">
        insert into sys_role_menu (id, role_id, menu_id, menu_code,    permission, note, order_by, create_time, create_by,
        update_time, update_by)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.roleId}, #{item.menuId}, #{item.menuCode},  #{item.permission}, #{item.note}, #{item.orderBy},
            #{item.createTime}, #{item.createBy}, #{item.updateTime}, #{item.updateBy})
        </foreach>
    </insert>

    <!-- 逻辑删除 -->
    <update id="deleteBySm" parameterType="com.ba.base.SimpleModel">
        update sys_role_menu
        set is_delete=1,
            update_by=#{delUser},
            update_time=#{delDate}
        where id = #{modelId}
    </update>

    <update id="update" parameterType="com.ba.model.system.SysRoleMenu">

        update sys_role_menu
        SET role_id          = #{roleId},
            menu_id          = #{menuId},
            menu_code      = #{menuCode},
            permission      = #{permission},
            note             = #{note},
            order_by         = #{orderBy},
            update_time        = #{updateTime},
            update_by     = #{updateBy}
        where id = #{id}
    </update>
    <delete id="delByRoleId">
        delete from sys_role_menu
        where role_id = #{id}
    </delete>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role_menu
        where is_delete=0 and id = #{id}
    </select>

    <select id="findPage" resultMap="BaseResultMap" parameterType="com.ba.base.Page">
        select
        <include refid="Base_Column_List"/>
        from sys_role_menu
        where is_delete = 0
        <if test="sql != '' and sql != null">
            ${sql}
        </if>
        order by create_time desc,order_by desc
        limit #{pageNum},#{pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from sys_role_menu
        where is_delete = 0
        <if test="tmpSql != '' and tmpSql != null">
            ${tmpSql}
        </if>
    </select>

    <select id="findList" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM sys_role_menu WHERE is_delete=0
        <if test="sql != '' and sql != null">
            ${sql}
        </if>
        order by create_time desc,order_by desc
    </select>

    <select id="findListBySQL" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM sys_role_menu WHERE is_delete=0
        <if test="sql != '' and sql != null">
            ${sql}
        </if>
        order by create_time desc,order_by desc
    </select>

</mapper>
